<!DOCTYPE html>

<title>Partidos index</title>

{% block body %}
    <h1>Partidos index</h1>
    <nav>
        <ul>
            <a href="{{ path('app_equipos_index') }}">Equipos</a>
            <a href="{{ path('app_partidos_index') }}">Partidos</a>
            <a href="{{ path('app_jugadores_index') }}">Jugadores</a>
            <a href="{{ path('app_zonas_index') }}">Zonas</a>
        </ul>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FECHA</th>
                <th>PUNTOS_EQUIPO1</th>
                <th>PUNTOS_EQUIPO2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partido in partidos %}
            <tr>
                <td>{{ partido.id }}</td>
                <td>{{ partido.FECHA ? partido.FECHA|date('Y-m-d') : '' }}</td>
                <td>{{ partido.PUNTOSEQUIPO1 }}</td>
                <td>{{ partido.PUNTOSEQUIPO2 }}</td>
                <td>
                    <a href="{{ path('app_partidos_show', {'id': partido.id}) }}">show</a>
                    <a href="{{ path('app_partidos_edit', {'id': partido.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_partidos_new') }}">Create new</a>
{% endblock %}
