{% extends 'base.html.twig' %}

{% block title %}Partidos{% endblock %}

{% block body %}
    <h1>Partidos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partido.id }}</td>
            </tr>
            <tr>
                <th>FECHA</th>
                <td>{{ partido.FECHA ? partido.FECHA|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PUNTOS_EQUIPO1</th>
                <td>{{ partido.PUNTOSEQUIPO1 }}</td>
            </tr>
            <tr>
                <th>PUNTOS_EQUIPO2</th>
                <td>{{ partido.PUNTOSEQUIPO2 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partidos_index') }}">back to list</a>

    <a href="{{ path('app_partidos_edit', {'id': partido.id}) }}">edit</a>

    {{ include('partidos/_delete_form.html.twig') }}
{% endblock %}
