<!DOCTYPE html>

<title>Zonas index</title>

{% block body %}
    <h1>Zonas index</h1>
    <nav>
        <ul>
            <a href="{{ path('app_equipos_index') }}">Equipos</a>
            <a href="{{ path('app_partidos_index') }}">Partidos</a>
            <a href="{{ path('app_jugadores_index') }}">Jugadores</a>
            <a href="{{ path('app_zonas_index') }}">Zonas</a>
        </ul>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NOMBRE_ZONA</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zona in zonas %}
            <tr>
                <td>{{ zona.id }}</td>
                <td>{{ zona.NOMBREZONA }}</td>
                <td>
                    <a href="{{ path('app_zonas_show', {'id': zona.id}) }}">show</a>
                    <a href="{{ path('app_zonas_edit', {'id': zona.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_zonas_new') }}">Create new</a>
{% endblock %}
