<!DOCTYPE html>

<title>Zonas index</title>

{% block body %}
    <h1>Zonas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CodZona</th>
                <th>NombreZona</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zona in zonas %}
            <tr>
                <td>{{ zona.codZona }}</td>
                <td>{{ zona.nombreZona }}</td>
                <td>
                    <a href="{{ path('app_zonas_show', {'codZona': zona.codZona}) }}">show</a>
                    <a href="{{ path('app_zonas_edit', {'codZona': zona.codZona}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_zonas_new') }}">Create new</a>
{% endblock %}
